@import "./css-reset.css";

@font-face {
  font-family: chivo;
  src: url("./assets/fonts/chivo.light.ttf");
}

body {
  font-family: chivo;
  background-color: #121725;
  color: #ffff;
}

/* .content {
  display: flex;

} */

/* .logo {
  margin: 50px;
} */

.background-mobile {
  display: none;
}

.background-tablet {
  display: none;
}

@media screen and (max-width: 480px) {
  div .images {
    order: 1;
  }

  div .input {
    order: 2;
  }

  body {

    /* background-image: url("./assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .content {
    text-align: center;

  }

  .main {
    padding: 25px;
  }

  .logo {
    text-align: center;
    padding: 50px;
  }

  .background {
    display: none;
  }

  .background-tablet {
    display: none;
  }

  .background-mobile {
    display: none;
  }

  .heading {
    font-size: 26px;
    line-height: 38px;
    color: #54E6AF;
    text-transform: uppercase;
  }

  span {
    color: #ffff;
  }

  .text {
    font-size: 15px;
    line-height: 27px;
    opacity: 0.7;
    padding: 20px 0 20px 0;
  }

  .slots {
    display: flex;
  }

  .images img {
    display: flex;
  }

  .input {
    font-size: 14px;
    display: block;
    flex-direction: column;
    margin: 20px 0 20px 0;
  }

  input {
    font-weight: 800;
    border-radius: 40px;
    padding: 5px 10px;
    color: #fff;
    background: #2C344B;
    height: 46px;
    padding: 0 0 0 25px;
    margin-bottom: 20px;
    border: none;
  }

  button {
    font-weight: 800;
    border-radius: 40px;
    padding: 0;
    color: #121725;
    background: #54E6AF;
    height: 46px;
    border: none;
  }

  .dots {
    display: none;
  }

}